:root {
    --color-background: #fff;
    --color-primary: #114c5b;
    --color-primary--dark: #00272d;
    --color-secondary: #ecc6b3;
    --color-tertiary: #eae8e0;

    --text-color--dark: #46707b;
    --text-color--light: #fff;
    --text-color--muted: #5d818b;

    --color-button-hover: #e3eced;
    --color-link-hover: #738c97;

    --spacing-small: 2.4rem;
    --spacing-medium: 4rem;
    --spacing-large: 6.4rem;
    --spacing-huge: 8rem;
}
