:root {
    /* colors */
    --color-primary: #1f1f1f;
    --color-secondary: #fdca87;
    --color-white: #f7f7ff;
    --color-background: #fff;
    --color-text: #264653;
}

.body--overflow {
    height: 100vh;
    overflow: hidden;
}
