body {
    transition: 0.5s ease background, 0.5s ease color;
}

:root {
    /* colors */
    --color-primary: #1f1f1f;
    --color-secondary: #fdca87;
    --color-white: #f7f7ff;
    --color-background: #fff;
    --color-text: #264653;
    --color-text-dark: #1f1f1f;
    --color-light-background: #f2f7f8;
    --color-button-text: #fff;
}

.dark-mode {
    --color-primary: #1f1f1f;
    --color-secondary: #fdca87;
    --color-white: #f7f7ff;
    --color-background: #1f1f1f;
    --color-text: #f7f7ff;
    --color-text-dark: #f7f7ff;
    --color-light-background: #333333;
    --color-button-text: #1f1f1f;
}

.body--overflow {
    height: 100vh;
    overflow: hidden;
}
